{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_uleth_library/main

    This template renders the main content area for the uleth library search block.

    Example context (json):
    {}
}}

<strong>Library Summon Search</strong>
<p>
    <script src="https://uleth.summon.serialssolutions.com/widgets/box.js" type="text/javascript" id="sa4a63e00679b013238927a098e067c79"></script>
    <script type="text/javascript">
        // <![CDATA[
        new SummonCustomSearchBox({
            "id": "#sa4a63e00679b013238927a098e067c79",
            "params": {},
            "colors": {
                "tagline": "#000000"
            },
            "tagline_text": "Search for books, articles, videos...",
            "searchbutton_text": "Search",
            "advanced_text": "Advanced Search",
            "suggest": "true",
            "popup": "true"
        })
        // ]]>
    </script>
</p>

 

<div style="font-size: 80%; margin: 0 0 1% 0;"><a href="http://uleth.summon.serialssolutions.com/advanced#!/advanced" target="_blank">Advanced Search</a></div>
<hr>
<p><strong>Databases by Subject<br></strong></p>
<p><a href="https://www.ulethbridge.ca/lib/subjects/index_inc.asp" target="_blank">Click here</a><br></p>
<p><a href="https://www.uleth.ca/lib/index.asp?tabs=4" target="_blank" click="" here<="" a=""></a></p>
<div>
    <p><strong>Citation Help<br></strong></p>
    <p><a href="https://library.ulethbridge.ca/cite?hs=a" target="_blank">Click here</a><strong><br></strong></p>
    <p><a href="https://library.ulethbridge.ca/cite?hs=a" target="_blank" click="" here<="" a=""></a></p>
    <div>
        <p><strong>Library Research Help</strong>

 

        </p>
        <div jid="reference_web@chat.ca.libraryh3lp.com" class="libraryh3lp" style=""><br><iframe src="https://ca.libraryh3lp.com/chat/reference_web@chat.ca.libraryh3lp.com?skin=14956&amp;identity=operator" style="width: 200px; height: 200px; border: 2px inset black;" frameborder="1"></iframe></div>
        <div jid="reference_web@chat.ca.libraryh3lp.com" class="libraryh3lp" style=""><br></div>
        <div jid="reference_web@chat.ca.libraryh3lp.com" class="libraryh3lp" style=""><a href="https://library.ulethbridge.ca/copyright/" target="_blank">University Copyright Information</a><br></div>
        <!-- Place this script as near to the end of your BODY as possible. -->
        <script type="text/javascript" async="" src="https://ca.libraryh3lp.com/js/libraryh3lp.js?126"></script>
        <script type="text/javascript">
            (function() {
                var x = document.createElement("script");
                x.type = "text/javascript";
                x.async = true;
                x.src = (document.location.protocol === "https:" ? "https://" : "http://") + "ca.libraryh3lp.com/js/libraryh3lp.js?126";
                var y = document.getElementsByTagName("script")[0];
                y.parentNode.insertBefore(x, y);
            })();
        </script>
        <script src="“https://ca.libraryh3lp.com/presence/jid/reference_web/chat.ca.libraryh3lp.com/js?cb=lh3cb1595446784779&quot;"></script>
    </div>
</div>


