{{!
**
* ************************************************************************
* *                   Test Centre Management System                     **
* ************************************************************************
@template local_tcs/comp_studenttable

Test Centre Management System
Author      David Lowe

Example context (json): {}

}}
    {{! data-search="true"
    data-show-refresh="true"
    data-show-toggle="true"
    data-show-fullscreen="true"
    data-show-columns="true"
    data-detail-view="true"
    data-show-export="true"
    data-detail-formatter="detailFormatter"
    data-minimum-count-columns="2"
    data-show-pagination-switch="true"
    data-pagination="true"
    data-id-field="id"
    data-page-list="[10, 25, 50, 100, ALL]"
    data-show-footer="true"
    data-side-pagination="server"
    data-url="https://examples.wenzhixin.net.cn/examples/bootstrap_table/data"
    data-response-handler="responseHandler"
    }}
    





    {{! TRY THIS:
    https://stackoverflow.com/questions/39791568/how-do-you-add-bootstrap-buttons-in-bootstrap-table
    
    maybe this???
    https://stackoverflow.com/questions/46516001/bootstrap-table-dynamic-button-in-row }}


{{! data-id-field="id" }}

<div class="tcs_student_writers_list col-12 py-2">
    <table class="table-striped table-hover"
        id="tcs_student_table_wacka"
        data-unique-id="id"
        
        data-pagination="false"
        data-show-toggle="true"
        data-show-columns="true"
        data-showFullscreen="true"
        
        data-toolbar="#tcs_student_search_bar" {{! TOOL BAR Template is loaded from page_dashboard }}
        >
    <thead class="thead-light">
        <tr>
        <th data-field="id"          data-visible="false">id</th>
        <th data-field="username"    data-visible="true" data-sortable="true">Username</th>
        <th data-field="course"      data-sortable="true">Course</th>
        <th data-field="examname"    data-sortable="true">Exam Name</th>
        <th data-field="room"        data-editable="true" data-sortable="true">Room #</th>
        <th data-field="signintime"  data-sortable="true" data-order="asc">Time Signed In</th>
        <th data-field="comments"    data-visible="true" data-editable="true" data-editable-typearea="text" id="tcs_comments">Comments</th>
        <th data-field="remove_user" data-visible="true">Remove User</th>
        <th data-field="user_id"     data-visible="false">userid</th>
        <th data-field="exam_id"     data-visible="false">examid</th>
        <th data-field="id_type"     data-visible="false">id_type</th>
        <th data-field="exam_type"   data-visible="false">exam_type</th>
        {{! <th data-formatter="tableRowActions">Action</th> }}
        </tr>
    </thead>
    </table>
    {{! <table id="tcs_student_table_wacka" class="table-striped"></table> }}
</div>
<hr/>

{{#js}}
require(['jquery', 'local_tcs/_bootstrap_libs/bootstrap-table', 'local_tcs/tcs_student_table'], function($, BootstrapTable, sTable) {
    // https://bootstrap-table.com/docs/getting-started/usage/
    
    sTable.initiateStudentTable();
    // End of Require
});
{{/js}}