{{!
**
* ************************************************************************
* *                   Test Centre Management System                     **
* ************************************************************************
@template local_tcs/comp_sidebar

Test Centre Management System
Author      David Lowe

Example context (json): {}

}}
    
    <!-- ******************************** -->
    <li class="nav-item">
        <a href="#examlist" class="nav-link" data-link="page_examlist" data-page_title="Exam List">
            <i class="tcs_sb_icon fa fa-list"></i>
            <span class="tcs_sb_link d-md-inline">
                Exam List
            </span>
        </a>
    </li>
    
    <!-- ******************************** -->
    <li class="nav-item">
        <a href="#stats" class="nav-link" data-link="page_stats" data-page_title="Stats">
            <i class="tcs_sb_icon fa fa-pie-chart"></i>
            <span class="tcs_sb_link d-md-inline">
                Stats
            </span>
        </a>
    </li>