{{!
**
* ************************************************************************
* *                   Test Centre Management System                     **
* ************************************************************************
@template local_tcs/comp_footer

Test Centre Management System
Author      David Lowe

Example context (json): {}

}}

<footer class="container-fluid">
    <p class="text-right small">TCS</p>
</footer>
