{{!
 **
 * ************************************************************************
 * *                   Test Centre Management System                     **
 * ************************************************************************
 * @package     local
 * @subpackage  Test Centre Management System
 * @name        tcs
 * @author      David Lowe
 * ************************************************************************
 * ********************************************************************* **

}}

<span>
    <div class="row mb-3">
        <div class="col-xl-3 col-sm-6 py-2">
            <div class="card text-white h-100" {{$stat_color}}stat_blue{{/stat_color}}>
                <div class="card-body">
                    <p>What is test1: {{$stat_icon}}DEAD{{/stat_icon}}</p>
                    <p>What is test2: {{$stat_color}}DEAD{{/stat_color}}</p>
                    <p>What is test3: {{$stat_title}}DEAD{{/stat_title}} </p>
                    <p>What is test4: {{$stat_small_title}}DEAD{{/stat_small_title}}</p>
                    <p>What is test5: {{$stat_name}}DEAD{{/stat_name}}</p>
                    <p>What is test6: {{$stat_icon}}DEAD{{/stat_icon}}</p>
                    <p>What is test7: {{$stat_data}}DEAD{{/stat_data}}</p>
                </div>
            </div>
        </div>
    </div>
</span>
