{{!
**
* ************************************************************************
* *                   Test Centre Management System                     **
* ************************************************************************
@template local_tcs/page_examreqs

Test Centre Management System
Author      David Lowe

Example context (json): {}

}}
<span class="tcs_page_loader" id="page_examreqs">
    <div>
        <p>Exam Requests</p>
    </div>
</span>
