{{!
 **
 * ************************************************************************
 * *                   Utools
 * ************************************************************************
 * @package     local
 * @subpackage  Test Centre Management System
 * @name        utools
 * @author      David Lowe
 * ************************************************************************
 * ********************************************************************* **

}}


<div class="utools_main_container" id="utools_app">
    
    <info_bar></info_bar>
    <!-- *************************************************************************** -->
    <!-- *************************************************************************** -->
    <!-- *************************************************************************** -->
    <skeleton></skeleton>
</div>