{{!
    @template report_content2fix/bulk_loading_filters

    Full-screen overlay shown while loading filter values.
}}
<div class="content2fix-loading-filters">
    <div class="content2fix-loading-filters-inner">
        <span class="fa fa-spinner fa-spin fa-2x mb-2" aria-hidden="true"></span>
        <span class="content2fix-loading-filters-text">{{loadingText}}</span>
    </div>
</div>
