{
  "root": true,
  "plugins": [
    "@babel",
    "promise",
    "jsdoc"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:promise/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "env": {
    "browser": true,
    "es2020": true,
    "amd": true
  },
  "globals": {
    "M": true,
    "Y": true
  },
  "rules": {
    "no-var": "error",
    "prefer-const": "error",
    "no-async-promise-executor": "off"
  }
}
