
{{> theme_uleth_v1/head}}

<body {{{ bodyattributes }}}>

<div id="page-wrapper" class="uleth_blue_nav_n_down">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_uleth_v1/navbar}}

    <div id="page" class="container-fluid main_uleth_container">
        {{!
            For the blue bar, it renders in core_renderer.php -> full_header()
        }}

        {{{ output.full_header }}}
        {{{ output.full_header_sub }}}

        <div id="page-content" class="row-fluid main_uofl_body uleth_col3">
            <div id="region-main-box" class="{{{regionmainbox}}} uleth_left_middle_block">
                <div class="row-fluid">
                    {{#hasregionmainsettingsmenu}}
                    <div id="region-main-settings-menu" class="hidden-print {{#hasblocks}}has-blocks{{/hasblocks}}">
                        <div class="uleth-region-main-settings-menu"> {{{ output.region_main_settings_menu }}} </div>
                    </div>
                    {{/hasregionmainsettingsmenu}}
                    {{#hasblocks}}

                    {{! =====================     LEFT    ===========================}}
                    <section data-region="blocks-column" class="hidden-print {{{sidepre}}} uleth_left_block">
                        {{{ sidepreblocks }}}

                        {{!
                            ------------------------------------
                            This is a custom "Add a Block" plug
                        }}
                        <nav class="list-group">
                            {{{add_block_chunky_bit}}}
                        </nav>

                    </section>
                    {{/hasblocks}}
                    {{! =====================     MIDDLE    ===========================}}
                    <section id="region-main" {{#hasblocks}}class="has-blocks uleth_middle_block {{{regionmain}}}"{{/hasblocks}}>
                        <div class="card">
                            <div class="card-body">
                            {{#hasregionmainsettingsmenu}}
                                <div class="region_main_settings_menu_proxy"></div>
                            {{/hasregionmainsettingsmenu}}
                            {{{ output.course_content_header }}}
                            {{{ output.main_content }}}
                            {{{ output.course_content_footer }}}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            {{#hasblocks}}
                {{! =====================     RIGHT    ===========================}}
                
                {{{ sidepostblocks }}}
            
            {{/hasblocks}}
        </div>
    </div>
    {{> theme_uleth_v1/nav-drawer }}
    {{> theme_uleth_v1/footer}}
</div>



<script>

    console.log("<<----------- C3 -----  Template ****  ----->>");

</script>

</body>
</html>

{{#js}}
M.util.js_pending('theme_uleth_v1/loader');
require(['theme_uleth_v1/loader'], function() {
  M.util.js_complete('theme_uleth_v1/loader');
});
M.util.js_pending('theme_uleth_v1/drawer');
require(['theme_uleth_v1/drawer'], function(mod) {
    mod.init();
  M.util.js_complete('theme_uleth_v1/drawer');
});
{{/js}}
