{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Blue Header Bar
}}
<header id="page-header" class="row uofl_breadcrumb_bar">

    <div class="col-12 pa-1 uofl_breadcrumb_bar_1">
        <div class="clearfix w-100 float-left uleth_breadcrumb_title" id="page-navbar">
            
            <div class="breadcrumb-nav uleth_breadcrumb_title2">
                {{{sub_navbar}}}
            </div>
            
            
            <div class="breadcrumb-button pull-right uleth_breadcrumb_title3">
                {{{sub_pageheadingbutton}}}
            </div>

        </div>
    </div>
</header>

<div class="uleth_edit_course_settings_container">
    {{{sub_con_menu}}}
</div>
