{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    This file was created to show quick access links on course cards.
    Current links are:
    Mail - https://moodle.lsu.edu/blocks/quickmail/qm.php?courseid=COURSE_ID
    Grades - https://moodle.lsu.edu/grade/index.php?id=COURSE_ID
    Participants - https://moodle.lsu.edu/user/index.php?id=COURSE_ID
    Course Tools - https://moodle.lsu.edu/course/view.php?id=COURSE_ID#coursetools
}}
<span class="cc_quick_link">
    {{#quick_links}}
    <a href="{{link}}" class=""><i class="fa {{icon}} cc_quick_link_icon"></i></a>
    {{/quick_links}}
</span>